

<h2>Graficas</h2>
<hr>

<div class="row">

    <div class="col-md-6">

        <div style="display: block;">
            <canvas baseChart width="400" height="400"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [chartType]="'line'"
                      ></canvas>
            </div>


    </div>

    <div class="col-md-6">

        <button (click)="votoPor('angular')" class="btn btn-primary mx-3">Angular</button>
        <button (click)="votoPor('react')" class="btn btn-primary mx-3">React</button>
        <button (click)="votoPor('vue')" class="btn btn-primary mx-3">Vue</button>
        <button (click)="votoPor('jsp')" class="btn btn-primary mx-3">Jsp</button>
        
    </div>


</div>